# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# yarn stuff
.yarnrc.yml
.yarn/*

# db backup
backup.sql
supabase/seed.sql

# cypress
cypress/videos
cypress/screenshots
cypress/integration/*.js
public/mockServiceWorker.js

# Sentry
.sentryclirc

# Google API Key
src/utils/google/credentials.json
email-server/.env
.history
supabase/supabase.code-workspace
supabase/supabase/
.env
.scannerwork

# docker
**/volumes
