@import './reset.css';
@import './bird-eats-bug.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
@import './fonts.css';

html,
body,
#__next {
    @apply bg-gray-50;
    @apply text-gray-900;
    @apply font-poppins;
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 224 71.4% 4.1%;

        --card: 0 0% 100%;
        --card-foreground: 224 71.4% 4.1%;

        --popover: 0 0% 100%;
        --popover-foreground: 224 71.4% 4.1%;

        --muted: 220 14.3% 95.9%;
        --muted-foreground: 220 8.9% 46.1%;

        --accent: 220 14.3% 95.9%;
        --accent-foreground: 220.9 39.3% 11%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 20% 98%;

        --border: 220 13% 91%;
        --input: 220 13% 91%;
        --ring: 224 71.4% 4.1%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 224 71.4% 4.1%;
        --foreground: 210 20% 98%;

        --card: 224 71.4% 4.1%;
        --card-foreground: 210 20% 98%;

        --popover: 224 71.4% 4.1%;
        --popover-foreground: 210 20% 98%;

        --primary: 210 20% 98%;
        --primary-foreground: 220.9 39.3% 11%;

        --secondary: 215 27.9% 16.9%;
        --secondary-foreground: 210 20% 98%;

        --muted: 215 27.9% 16.9%;
        --muted-foreground: 217.9 10.6% 64.9%;

        --accent: 215 27.9% 16.9%;
        --accent-foreground: 210 20% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 20% 98%;

        --border: 215 27.9% 16.9%;
        --input: 215 27.9% 16.9%;
        --ring: 216 12.2% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@layer components {
    .border-unset-all {
        @apply border-transparent focus:border-transparent focus:ring-0;
    }

    .btn {
        @apply flex flex-shrink-0 cursor-pointer items-center justify-center rounded-md px-4 py-2 text-sm;
    }

    .btn-primary {
        @apply bg-primary-500 text-white duration-300 hover:bg-primary-700;
    }

    .btn-secondary {
        @apply bg-gray-200 text-gray-600 duration-300 hover:bg-gray-300;
    }

    .btn-transparent {
        @apply bg-primary-100 bg-opacity-50 text-primary-500 duration-300 hover:bg-opacity-100;
    }

    .btn-sm-transparent {
        @apply cursor-pointer rounded-md bg-primary-100 bg-opacity-60 px-2 py-1 text-xs text-primary-500 duration-300 hover:bg-opacity-100;
    }

    .btn-with-icon-gray {
        @apply row-between cursor-pointer rounded-lg bg-white px-4 py-2 duration-300 hover:bg-primary-100;
    }

    .btn-fileupload {
        @apply cursor-pointer rounded-md border border-gray-200 bg-gray-100 text-xs duration-300 hover:bg-gray-200;
    }

    .column-center {
        @apply flex flex-col items-center justify-center;
    }

    .column-between {
        @apply flex flex-col items-center justify-between;
    }

    .column-start {
        @apply flex flex-col items-center justify-start;
    }

    .column-end {
        @apply flex flex-col items-center justify-end;
    }

    .row-center {
        @apply flex flex-row items-center justify-center;
    }

    .row-between {
        @apply flex flex-row items-center justify-between;
    }

    .row-around {
        @apply flex flex-row items-center justify-evenly;
    }

    .input-field {
        @apply h-9 w-full rounded-md border border-gray-200 bg-white px-2 text-sm text-gray-600 placeholder-gray-300 outline-none duration-300 focus-within:border-primary-500;
    }

    .select-field {
        @apply block h-9 w-full rounded-md bg-white text-sm text-gray-600 placeholder-gray-300 outline-none focus-within:border-primary-500;
    }

    .textarea-field {
        @apply w-full resize-none rounded-md border border-gray-200 bg-white px-2 py-1 text-sm text-gray-600 placeholder-gray-300 outline-none duration-300 focus-within:border-primary-500;
    }

    .checkbox {
        @apply mr-6 h-4 w-4 cursor-pointer appearance-none rounded-md border border-gray-300 text-primary-500 duration-300 checked:border-transparent checked:bg-primary-500 hover:bg-primary-200 hover:checked:bg-primary-400 focus:outline-none focus:ring-1 focus:ring-primary-500 focus:ring-offset-0;
    }

    .checkbox-add-success {
        @apply mr-6 h-4 w-4 cursor-pointer appearance-none rounded-md border border-gray-300 bg-gray-400 text-gray-500 duration-300 checked:border-transparent checked:bg-gray-500 hover:checked:bg-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-500 focus:ring-offset-0;
    }

    .file-uploader {
        @apply block w-full cursor-pointer text-sm text-gray-500 duration-300 file:mr-4 file:rounded-xl file:border-0 file:bg-primary-100 file:px-4 file:py-2 file:text-sm file:font-semibold file:text-primary-700 hover:file:bg-primary-100;
    }

    .radio-button {
        @apply h-4 w-4 cursor-pointer appearance-none rounded-md border border-primary-400 duration-300 checked:border-transparent checked:bg-primary-500 focus:outline-none;
    }
}

.boostbot-gradient {
    @apply bg-gradient-to-br from-[#EE46BC] via-[#7839EE] to-[#43CBFF];
}
