run-name: Run main workflow by @${{ github.actor }}

on:
    # allow manual trigger of the workflow
    workflow_dispatch:
    # Only pushes to active PRs will trigger the workflow, pushes to other branches will not trigger run
    pull_request:
        types: [opened, synchronize]

env:
    STRIPE_API_KEY: ${{ secrets.STRIPE_API_KEY }}
    NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY: ${{ secrets.NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY }}
    NEXT_PUBLIC_STRIPE_PRODUCT_ID_DIY: prod_MskCkXTZd6tim9
    NEXT_PUBLIC_STRIPE_PRICE_MONTHLY_DIY: price_1MNB61As9LEfZQ298w3oW64k
    NEXT_PUBLIC_STRIPE_PRICE_QUARTERLY_DIY: price_1MNB5iAs9LEfZQ29sssMyA6m
    NEXT_PUBLIC_STRIPE_PRICE_YEARLY_DIY: price_1M8yhpAs9LEfZQ29TSiaQVun
    NEXT_PUBLIC_STRIPE_PRODUCT_ID_DIY_MAX: prod_N7PH5AciWQkPyv
    NEXT_PUBLIC_STRIPE_PRICE_MONTHLY_DIY_MAX: price_1MNAT0As9LEfZQ292rmiX8Cj
    NEXT_PUBLIC_STRIPE_PRICE_QUARTERLY_DIY_MAX: price_1MNBZ8As9LEfZQ294QasjNYv
    NEXT_PUBLIC_STRIPE_PRICE_YEARLY_DIY_MAX: price_1MNBZ8As9LEfZQ29vph62DoE
    NEXT_PUBLIC_STRIPE_PRODUCT_ID_VIP: prod_NJ1l6867a0bkhL
    NEXT_PUBLIC_STRIPE_PRODUCT_DISCOVERY: prod_OSxVPMxAcggFWP
    NEXT_PUBLIC_STRIPE_PRODUCT_OUTREACH: prod_OSxdtb3ukjSg08
    NEXT_PUBLIC_STRIPE_PRICE_MONTHLY_DISCOVERY: price_1Ng1a3F5PN4woVWo9KP4S4oM
    NEXT_PUBLIC_STRIPE_PRICE_MONTHLY_OUTREACH: price_1Ng1iHF5PN4woVWogNiPDp2I
    DATA_PASS: ${{ secrets.DATA_PASS }}
    DATA_USER: ${{ secrets.DATA_USER }}
    DATA_KEY: ${{ secrets.DATA_KEY }}
    NEXT_PUBLIC_SUPABASE_URL: http://localhost:54321
    SIB_API_KEY: ${{ secrets.SIB_API_KEY }}
    OPENAI_API_ORG: ${{ secrets.OPENAI_API_ORG }}
    OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
    NEXT_PUBLIC_FEAT_EMAIL: true
    SENTRY_IGNORE_API_RESOLUTION_ERROR: 1
    GOOGLE_PRIVATE_KEY: ${{ secrets.GOOGLE_PRIVATE_KEY }}
    GOOGLE_PRIVATE_KEY_ID: ${{ secrets.GOOGLE_PRIVATE_KEY_ID }}
    GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
    NEXT_PUBLIC_CI: true
    NEXT_PUBLIC_CHATWOOT_WEBSITE_TOKEN: ${{ vars.NEXT_PUBLIC_CHATWOOT_WEBSITE_TOKEN }}
    CHATWOOT_WEBHOOK_TOKEN: ${{ vars.CHATWOOT_WEBHOOK_TOKEN }}
    APIFY_TOKEN: APIFY_TOKEN
    NEXT_PUBLIC_RUDDERSTACK_APP_WRITE_KEY: ${{ secrets.NEXT_PUBLIC_RUDDERSTACK_APP_WRITE_KEY }}
    NEXT_PUBLIC_RUDDERSTACK_APP_DATA_PLANE_URL: ${{ secrets.NEXT_PUBLIC_RUDDERSTACK_APP_DATA_PLANE_URL }}
    RUDDERSTACK_APP_WRITE_KEY: ${{ secrets.RUDDERSTACK_APP_WRITE_KEY }}
    RUDDERSTACK_APP_DATA_PLANE_URL: ${{ secrets.RUDDERSTACK_APP_DATA_PLANE_URL }}
    SUPABASE_SCANNER_BUFFER_SIZE: 5mb
    NEXT_PUBLIC_GOOGLE_ANALYTICS: ${{ secrets.NEXT_PUBLIC_GOOGLE_ANALYTICS }}
    EMAIL_ENGINE_API_KEY: ${{ secrets.EMAIL_ENGINE_API_KEY }}
    EMAIL_ENGINE_API_URL: https://email.relay.club
    NEXT_PUBLIC_DISABLE_CHATWOOT: true

jobs:
    e2e-test:
        environment: preview

        runs-on:
            group: large-runner

        strategy:
            matrix:
                node-version: [18.14.0]

        steps:
            - uses: actions/checkout@v3

            - uses: supabase/setup-cli@v1
              with:
                  version: 1.88.0

            - name: Verify supabase cli version
              run: supabase -v

            - name: Create supabase config file
              run: cp supabase/config.toml.example supabase/config.toml

            - name: Create seed file
              run: cp supabase/seed.example supabase/seed.sql

            - name: Start Supabase local development setup
              run: supabase start

            - name: Verify generated types are up-to-date
              run: |
                  supabase gen types typescript --local --schema=public > types/supabase.ts
                  if [ "$(git diff --ignore-space-at-eol types/supabase.ts | wc -l)" -gt "0" ]; then
                    echo "Detected uncommitted changes after build. See status below:"
                    git diff
                    exit 1
                  fi

            - name: Run lint
              run: supabase db lint

            - name: Run tests
              run: |
                  chmod +x ./supabase/db.sh
                  ./supabase/db.sh db_test

            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}

            - name: Export Supabase keys
              # Uses supabase status to print the anon key and service key to the terminal and populates the environment variables
              run: ./supabase/db.sh export_supabase_keys

            - name: Make sure seed is loaded
              run: supabase db reset

            - name: Cypress run
              uses: cypress-io/github-action@v5
              with:
                  browser: chrome
                  start: npm run dev
                  # http://localhost:54323/ is the supabase dashboard
                  wait-on: http://localhost:3000, http://localhost:54323
                  wait-on-timeout: 180

    component-test:
        needs: e2e-test
        runs-on:
            group: large-runner
        environment: preview
        env:
            # unit tests don't need the real keys, but they load some functions that check for them on init.
            SUPABASE_SERVICE_KEY: dummy key
            NEXT_PUBLIC_SUPABASE_ANON_KEY: dummy key

        strategy:
            matrix:
                node-version: [18.14.0]
        steps:
            - uses: actions/checkout@v3

            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: 'npm'

            - run: npm ci
            - run: npm run lint
            - run: npx prettier . --check
            - run: npm run build
            - run: npm run test-cypress-unit
